<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<title>diarydetail</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- viewport的<meta>标签，这个标签可以修改在大部分的移动设备上面的显示，为了确保适当的绘制和触屏缩放。-->

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<!--  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>-->

	<!--JavaScript插件都是依赖与jQuery库-->
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery-2.2.0.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../bootstrap/js/bootstrap.min.js"></script>

	<script src="../js/Chart.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		
			if($("#userName").val() != null) {
				$("#logindiv").hide();
			}
			else {
				$("#userNamediv").hide();
			}
	

	});
	
	</script>
</head>
<body>

	<div class="container">

			<nav class="navbar navbar-default navbar-static-top" role="navigation"> 
			
		<div><a th:href="@{/findesummarys}">首页</a></div>
		<div id="userNamediv" th:text="${'welcome: '+session.user.userName}">Hello, userName</div>
		<div id="logindiv"><a href="/login">亲，请登录 </a> <a href="/register">免费注册</a></div>
		</nav>


		<input type="hidden" id="userName" th:value="${session.user.userName}" ></input>
		
		<table class="table table-striped">
			<tbody>
				<tr>
					<td th:utext="${diary.context}" ></td>
				</tr>
				<tr>
					
					<td th:if="${session.user.getId()==diary.getUserId()}">
					<a th:href="@{/gotoEditDiary(diaryId=${diary.diaryId})}">edit</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>