<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>edit diary</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- viewport的<meta>标签，这个标签可以修改在大部分的移动设备上面的显示，为了确保适当的绘制和触屏缩放。-->

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="../js/jquery-2.2.0.min.js"></script>
<script src="../js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">

	$(function(){
	    $("#checkCode").blur(function(){
	    	myReload();
	    })
	})

    
    function myReload(){  
    	
    	$.ajax({
            url: "http://localhost:8080/checkCode",
            type:'POST',
            data:{code:$.trim($("input[name=checkCode]").val())},
            dataType:'json',
            async:false,
            success:function(result) {
                if(result.flg == 1) {
                	$("#info").html('success！'); //验证码正确提交表单
                }else{
                	changeImg();
                    $("#info").html('验证码错误！');
                    setTimeout(function(){
                        $("#info").empty();
                    },3000);
                }
            },
            error:function(msg){
                $("#info").html('Error:'+msg.toSource());
            }
            
        })
    	
    }  
    
    function changeImg(){
    	 var imgSrc = $("#createCheckCode");
    	 var src = imgSrc.attr("src");
    	 imgSrc.attr("src",chgUrl(src));
    	}
    	//时间戳
    	//为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
    	function chgUrl(url){
		 var timestamp = (new Date()).valueOf();
		 url = url.substring(0,17);
		 if((url.indexOf("&amp;")>=0)){
		  url = url + "×tamp=" + timestamp;
		 }else{
		  url = url + "?timestamp=" + timestamp;
		 }
		 return url;
		}

    	function isRightCode(){
    	 var code = $("#checkCode").attr("value");
    	 code = "c=" + code;
    	 $.ajax({
    	  type:"POST",
    	  url:"http://localhost:8080/getCode",
    	  data:code,
    	  success:callback
    	 });
    	}
    	function callback(data){
    	 $("#info").html(data);
    	}

</script>

<script type="text/javascript">
	$(document).ready(function(){
		
			if($("#userName").val() != null) {
				$("#logindiv").hide();
			}
			else {
				$("#userNamediv").hide();
			}
			
			alert("-diaryId-"+$("#diaryId").val());

	});
	
	</script>
</head>
<body>

<div class="container">

<p class="lead">
<div><a th:href="@{/findesummarys}">首页</a></div>
<div id="userNamediv" th:text="${'welcome: '+session.user.userName}">Hello, userName</div>
<div id="logindiv"><a href="/login">亲，请登录 </a> <a href="/register">免费注册</a></div>
</p>

<input type="hidden" id="userName" th:value="${session.user.userName}" ></input>

<form action="#" method="post" enctype="multipart/form-data" th:action="@{/editDiary}" th:object="${diaryForm}">

<input type="hidden" id="diaryId" name="diaryId" th:value="${diary.diaryId}" ></input>

<table>
<tr>
<td>
<textarea rows="30" cols="50" name="journaling" th:text="${diary.context}">请输入.</textarea>
<script type="text/javascript">CKEDITOR.replace('journaling');</script>
</td>
</tr>

<tr>
<td>
选择图片: <input type="file" name="file"/>
</td>
		
		</tr>
		<tr>
		<td>
		<input type="submit" value="发布"/>
		</td>
		</tr>
		</table>
</form>
<br/>
<form action="/checkCode" name="codeForm" id="codeForm" method = "post">

	<table>
		<tr><td>验证码</td><td> <input name="checkCode" type="text" id="checkCode" title="验证码区分大小写" maxlength="4"/></td>
       <td> <img id="createCheckCode" src="getCode"/>
        <a href="#" onClick="changeImg()">看不清，换一个</a></td>
        </tr>
        <tr><td><div id="info"></div> </td></tr>
	</table>
	
</form>
</div>

</body>
</html>