<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<title>first</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- viewport的<meta>标签，这个标签可以修改在大部分的移动设备上面的显示，为了确保适当的绘制和触屏缩放。-->

<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<!--  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>-->

	<!--JavaScript插件都是依赖与jQuery库-->
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../js/jquery-2.2.0.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../bootstrap/js/bootstrap.min.js"></script>

	<script src="../js/Chart.js"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		
			if($("#userName").val() != null) {
				$("#logindiv").hide();
			}
			else {
				$("#userNamediv").hide();
			}
	

	});
	
	</script>
</head>
<body>

	<div class="container">

		<p class="lead">
		<div id="userNamediv" th:text="${'welcome: '+session.user.userName}">Hello, userName</div>
		<div id="logindiv"><a href="/login">亲，请登录 </a> <a href="/register">免费注册</a></div>
		<div><a href="/gotoJournaling">写好事</a></div>
		</p>

		<p class="lead">做了好事，当然可以选择沉默，或者选择影响他人，让世界更美好;无论如何您都是好人</p>

		<div style="width: 50%">
			<canvas id="canvas" height="450" width="600"></canvas>
		</div>

		<input type="hidden" id="userName" th:value="${session.user.userName}" ></input>
		<input type="hidden" id="provinceList" th:value="${provinceList}" ></input>
		<input type="hidden" id="valueList" th:value="${valueList}" ></input>

		<form action="#" th:action="@{/findsummary}"
			th:object="${summaryForm}" method="post">

			<table class="table table-striped">
				<tbody>

					<tr th:each="summary:${summarys}">
						<td><a th:href="@{/gotoDiaryDetail(diaryId=${summary.diaryId})}" th:utext="${#strings.length(summary.context) lt 120} ?${summary.context}+'......':${#strings.substring(summary.context,0,120)}+'......'">test</a></td>


					</tr>

				</tbody>

			</table>

		</form>


	</div>


<script type="text/javascript">

		var arryNames = []; 
		var arryValues = [];
		var provincestr = document.getElementById("provinceList").value;
		provincestr = provincestr.substring(1,provincestr.length-1);
		var provincestrlist = provincestr.split(",");
		
		var valuestr = document.getElementById("valueList").value;
		valuestr = valuestr.substring(1,valuestr.length-1);
		var valuestrlist = valuestr.split(",");
	
		var barChartData = {
				
			labels : provincestrlist,
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,0.8)",
					highlightFill : "rgba(151,187,205,0.75)",
					highlightStroke : "rgba(151,187,205,1)",
					data : valuestrlist
				}
			]
	
		}
		window.onload = function(){
			var ctx = document.getElementById("canvas").getContext("2d");
			window.myBar = new Chart(ctx).Bar(barChartData, {
				responsive : true
			});
		}
	

	</script>
	


</body>
</html>